@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&display=swap');

.heroMain {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main_title {
	margin-top: 0;
	margin-bottom: 2rem;
	font-family: 'Azeret Mono', monospace;
	font-weight: 800;
	font-size: 4.5em;
	line-height: 58px;
	text-align: center;
	background: var(--orange);
	background: linear-gradient(to bottom, var(--orange) 39%, #4b382e 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main_paragraph {
	text-align: center;
	width: 70%;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 500;
}

.main_paragraph:after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 50%;
	padding-top: 20px;
	border-bottom: 2px solid var(--dark-gray);
}
.satisfiedCustomersSection {
	margin-top: 1rem;
	width: 60%;
	display: flex;
	font-size: 0.8em;
	align-items: center;
	justify-content: center;
}

.imagesContainer {
	position: relative;
	width: 200px;
	height: 65px;
}
.userImageWrapper {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid white;
}
.userImageWrapper:nth-child(1) {
	position: absolute;
	left: 0;
}
.userImageWrapper:nth-child(2) {
	position: absolute;
	left: 30px;
}

.userImageWrapper:nth-child(3) {
	position: absolute;
	left: 60px;
}

.userImage {
	border-radius: 50%;
	border: 5px solid white;
}

.satisfiedCustomersMessage {
	color: var(--dark-gray);
	font-weight: 600;
}

@media (min-width: 1200px) {
	.heroMain {
		padding: 0rem 6em;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}

	.main_title {
		font-size: 12em;
		line-height: 0.8em;
		width: 80%;
		text-align: left;
	}

	.main_paragraph {
		position: absolute;
		top: 20px;
		left: 600px;
		width: 400px;
		font-size: 1em;
		text-align: start;
	}

	.main_paragraph:after {
		content: '';
		display: block;
		margin: 0;
		width: 400px;
		height: 5rem;
		padding: 0;
		border-left: 2px solid var(--dark-gray);
		border-bottom: none;
		position: relative;
		bottom: 80px;
		right: 50px;
	}

	.satisfiedCustomersSection {
		position: absolute;

		left: 500px;
		bottom: 10px;
		height: 200px;
		display: flex;
		align-items: center;
		gap: 2em;
	}

	.imagesContainer {
		width: 200px;
		height: 100px;
	}

	.userImageWrapper {
		width: 100px;
		height: 100px;
	}
	.userImage {
		width: 100px;
		height: 100px;
	}

	.userImageWrapper:nth-child(1) {
		position: absolute;
		left: 0;
	}
	.userImageWrapper:nth-child(2) {
		position: absolute;
		left: 50px;
	}

	.userImageWrapper:nth-child(3) {
		position: absolute;
		left: 100px;
	}

	.satisfiedCustomersMessage {
		font-size: 1.5em;
		width: 7rem;
	}
	.satisfiedCustomersMessage:after {
		content: '';
		display: block;
		margin-top: 1em;
		width: 20px;
		height: 1px;
		background-color: var(--dark-gray);
	}
}

@media (min-width: 1400px) {
	.satisfiedCustomersSection {
		left: 400px;
	}
}

@media (min-width: 1710px) {
	.main_title {
		font-size: 15em;
	}

	.satisfiedCustomersSection {
		position: absolute;
		left: 470px;
		bottom: 20px;
		height: 200px;
		display: flex;
		align-items: center;
		gap: 2em;
	}

	.main_paragraph {
		position: absolute;
		top: 60px;
		left: 900px;
		width: 400px;
		font-size: 1em;
		text-align: start;
	}
}
