@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,600;1,700&display=swap');

.sidenavHidden {
	display: none;
}
.sidenav {
	display: block;
	height: 100vh;
	width: 90vw;
	position: fixed;
	z-index: 100;
	background-color: #ffffff;
	box-shadow: 100vw 0 0px 200px rgba(0, 0, 0, 0.4);
}

.menuContainer {
	padding: 0em;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menuContainer li:not(:first-child) {
	margin: 0 1.5em;
}

.menuContainer li {
	display: flex;
	border-bottom: 1px solid var(--gray);
	padding: 1em;
}

.sidenavCloseButton {
	border: none;
	background-color: unset;
	margin-right: 1.5em;
}
.header {
	width: 100vw;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_title {
	font-size: 1.8em;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.hamburgerMenu {
	height: 24px;
	width: 24px;
}

.header_nav {
	display: none;
}

.header_rightIcons {
	display: none;
}

@media (min-width: 1200px) {
	.header {
		padding: 3em 6em;
	}
	.hamburgerMenu {
		display: none;
	}
	.header_nav {
		display: block;
	}

	.header_nav ul {
		padding: 0;
		display: flex;
		list-style: none;
		justify-content: space-between;
	}

	.header_nav ul li {
		margin: 1.5em;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
	}
	.header_rightIcons {
		display: flex;
		align-items: center;
	}

	.header_rightIcons span {
		width: 50px;
		font-family: 'Poppins', sans-serif;
		font-size: 1.2em;
		font-weight: 600;
	}
}
