.footer {
	margin-top: 3em;
	width: 100vw;
	padding: 2em;
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.border {
	background-color: rgba(0, 0, 0, 0.2);
	height: 1px;
	width: 90vw;
}

.footer_title {
	font-size: 1.4em;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.info {
	margin-top: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linkList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.linkList li {
	margin: 1em 0;
	color: var(--dark-gray);
}

.linkList li:hover {
	color: var(--orange);
}

.logos {
	width: 70px;
	display: flex;
	justify-content: space-between;
}
.signature {
	color: var(--orange);
	font-weight: 600;
	font-size: 0.8em;
}

@media (min-width: 1200px) {
	.footer {
		margin-top: 8em;
		padding: 0 6em;
		font-size: 14px;
	}
	.signature {
		color: var(--orange);
		font-weight: 600;
		font-size: 1em;
	}
}
